{% extends '../layout.njk' %}

{% block content %}
  <div class="page-content users-list">
    <div class="page-title">
      <h2>Usuários</h2>
      <a class="button save" href="/admin/users/register">Novo</a>
    </div>
    <div class="cards">
        {% for user in users %}
          <div class="card">
            <p class="name">{{ user.name }}</p>
            <p class="email">{{ user.email }}</p>
            <div class="card-links">
              <a href="/admin/chefs/{{ chef.id }}">Editar</a>
              <a href="/admin/chefs/{{ chef.id }}">Remover</a>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>

{% endblock content %}