{% extends "../layout.njk" %}

{% block content %}
<section class="form">
  <form method="POST" action="/admin/recipes" id="form-create" enctype="multipart/form-data">
    <div class="form-header">
      <p>Criando receita</p>
      <div class="form-buttons">
        <button class="button save" type="submit" form="form-create">Salvar receita</button>
      </div>
    </div>
    {% include "recipes/fields.njk" %}
  </form>
</section>
{% endblock %}