  <div class="item">
    <p>Imagem da receita</p>
    <div class="photos">
      <div id="photos-upload">
        <input
          id="photos-input" 
          type="file"
          name="photos"
          multiple
          accept="image/*"
          onchange="PhotosUpload.handleFileInput(event)"
        >
        <i class="material-icons">add</i>
      </div>
      <div id="photos-preview">
        {% if recipeFiles %}
          {% for image in recipeFiles %}  
            <div class="photo" id="{{image.id}}">
              <img src="{{image.src}}" alt="{{image.name}}">
              <i 
                class="material-icons"
                onclick="PhotosUpload.removeOldPhoto(event)"
              >close</i>
            </div>
          {% endfor %}
          <input type="hidden" name="removed_files">
        {% endif %}
      </div>
    </div>
  </div>
  
  <div class="item">
    <p>Título da receita</p>
    <div>
      <input 
        type="text"
        name="title"
        placeholder="Título da receita"
        value="{{ recipe.title }}"
      >
    </div>
  </div>

  <div class="item">
    <p>Chef</p>
    <div>
      <select name="chef">
      {% for chef in chefs %}
        <option value="{{ chef.id }}"{% if recipe.chef_id == chef.id %} selected {% endif %}>
          {{ chef.name }}
        </option>
      {% endfor %}
      </select>
    </div>
  </div>

  <div class="item">
    <p>Ingredientes</p>
    {% if (recipe) %}
        <div id="ingredients">
      {% for ingredient in recipe.ingredients %}
          <div class="ingredient">
            <input 
            type="text"
            name="ingredients[]"
            value="{{ ingredient }}"
            placeholder="Ingrediente">
          </div>
      {% endfor %}
        </div>
    {% else %}
      <div id="ingredients">
        <div class="ingredient">
          <input 
          type="text"
          name="ingredients[]"
          value=""
          placeholder="Ingrediente">
        </div>
      </div>
    {% endif %}
    <button type="button" class="add-ingredient">Adicionar ingrediente</button>
  </div>

  <div class="item">
    <p>Modo de Preparo</p>
    {% if (recipe) %}
      <div id="preparations">
        {% for step in recipe.preparation %}
          <div class="preparation">
            <input 
            type="text"
            name="preparation[]"
            value="{{ step }}"
            placeholder="Modo de preparo">
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div id="preparations">
        <div class="preparation">
          <input 
            type="text"
            name="preparation[]"
            value=""
            placeholder="Modo de preparo">
        </div>
      </div>
    {% endif %}
    <button type="button" class="add-preparation">Adicionar preparo</button>
  </div>

  <div class="item">
    <p>Informações adicionais</p>
    {% if recipe %}
      <textarea 
        name="information" 
        cols="30" 
        rows="10"
        placeholder="Informações adicionais">{{ recipe.information }}</textarea>
    {% else %}
      <textarea 
        name="information" 
        rows="10"
        placeholder="Informações adicionais"></textarea>
    {% endif %}
  </div>