{% extends '../layout.njk' %}

{% block content %}
  <div class="page-content">
    <div class="chefs-page-title">
      <h2>Gerenciar chefs</h2>
      {# <a href="/admin/chefs/create">Novo chef</a> #}
    </div>
    <div class="chefs-cards">
        {% for chef in chefs %}
          <div class="chef-card">
              <img src="{{ chef.img }}" alt="Imagem de {{ chef.name }}">
              <div class="chef-card-content">
                <p class="chef-name">{{ chef.name }}</p>
                <a href="/admin/chefs/{{ chef.id }}">Visualizar</a>
              </div>
          </div>
        {% endfor %}
    </div>
  </div>

{% endblock content %}