{% extends '../layout.njk' %}

{% block content %}
<div class="page-content">
  <div class="chef-header">
    <p>Chef: {{ chef.name }}</p>
    <a class="button save" href="/admin/chefs/{{ chef.id }}/edit">Editar</a>
  </div>

  <div class="chef-info">
    <img src="{{chef.avatar.src}}" alt="{{chef.name}}">
    <h1>{{chef.name}}</h1>
    <p>{{chef.totalRecipes}} receitas</p>
  </div>

  <div class="chef-recipes">
    <h2>Receitas</h2>
    <div class="recipes-cards">
        {% for recipe in chef.recipes %}
          <div class="recipe-card">
            <div
              class="image"
              style="background-image: url({{recipe.img if recipe.img else '//placehold.it/500x360'}})"
            >
            </div>
            <div class="recipe-card-content">
              <p class="recipe-card-title">{{ recipe.title }}</p>
              <p class="recipes-page-chef">por {{ chef.name }}</p>
              <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
