{% extends './layout.njk' %}

{% block content %}
<div class="page-content">
    <div class="site-description">
        <div class="description">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="">
    </div>

    <p class="site-card-title">Últimas cadastradas</p>
    <section class="site-cards">
    {% for recipe in recipes %}
        <div class="site-card" id={{recipes.indexOf(recipe)}}>
            <img src="{{ recipe.img }}" alt="Imagem de {{ recipe.title }}">
            <div class="site-content">
                <p class="site-recipe-title">{{recipe.title}}</p>
                <p class="site-recipe-chef">por {{recipe.chef_name}}</p>
            </div>
        </div>
    {% endfor %}
    </section>
</div>
{% endblock %}