{% extends './layout.njk' %}

{% import '../parts/section-recipes.njk' as section %}

{% block content %}
<div class="page-content">
  {{section.recipes('', '', recipes)}}
</div>
<div class="modal-overlay">
    <div class="modal-content">
      <img src="" alt="">
      <p class="modal-title"></p>
      <p class="modal-author"></p>
      <a href="#" class="close-modal">Fechar modal</a>
    </div>
  </div>
{% endblock %}