.itens-users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.item.user-item p {
  padding: 26px 0 10px;
}
/* .error input {
  border: 1px solid #FF3131;
} */
.user-item .user-checkbox {
  display: flex;
  align-items: center;
}
.user-item .user-checkbox input {
  margin-right: 8px;
  border: 1px solid #DDDDDD;
}

.user-item .user-checkbox p {
  font-size: 16px;
  font-weight: bold;
}

/* validate errors */
.item .error {
  background-color: #DC4747;
  padding: 4px;
  color: white;
  border-radius: 4px;
}

/* list users */
.users-list .page-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}

.users-list .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 50px;
}

.users-list .card .name {
  font-size: 18px;
}

.users-list .card .email {
  font-size: 14px;
  color: #777777;
}