<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Foodfy</title>
        {% endblock %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
       
    </head>
    <body>
        {% include "parts/adminHeader.njk" %}

        {% block content %}{% endblock %}

        {% include "parts/footer.njk" %}
    </body>
</html>
