<header class="navigation">
    <div class="header-content">
        <div class="logo">
            <a href="/admin/recipes"><img src="/assets/logo_white.png" alt="Foodfy"></a>
        </div>
        <div class="links">
            <a href="/admin/recipes">RECEITAS</a>
            <a href="/admin/chefs">CHEFS</a>
            <a href="/admin/users/list">USUÁRIOS</a>
        </div>
        {% if user %}
            <div class="logout">
                <form action="/users/logout" method="post">
                    <button>SAIR</button>
                </form>
            </div>
        {% endif %}
    </div>
</header>