{% macro recipes(name, classes, recipes) %}
<section class="site-cards">
  {% for recipe in recipes %}
      <div class="site-card" id={{recipes.indexOf(recipe)}}>
          <img src="{{ recipe.img }}" alt="Imagem de {{ recipe.title }}">
          <div class="site-content">
              <p class="site-recipe-title">{{recipe.title}}</p>
              <p class="site-recipe-chef">por {{recipe.chef.name}}</p>
          </div>
      </div>
  {% endfor %}
</section>
{% endmacro %}