<header class="site-navigation">
    <div class="site-logo">
        <a href="/"><img src="/assets/logo_black.png" alt="Foodfy"></a>
    </div>
    <div class="site-links">
        <a href="/about">Sobre</a>
        <a href="/recipes">Receitas</a>
        <a href="/chefs">Chefs</a>
    </div>
    <div class="site-filter">
        <form action="/recipes" method="GET">
            <input 
                type="text"
                name="filter"
                placeholder="Filtrar por nome"
            >
            <button type="submit">Filtrar</button>
        </form>
    </div>
</header>